@page "/mahasiswa"

<h3 class="text-center" style="font-weight:bold;">LIST MAHASISWA</h3>
<br>

  <a href="/tambahmahasiswa" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tambah Mahasiswa">
    <span class="oi oi-plus" aria-hidden="true"></span> Tambah Mahasiswa
  </a>

<br><br>

@* Tabel Students *@
<table class="table table-striped table-hover">

  <thead>
    <tr>
        <th>NIM</th>
        <th>Nama Depan</th>
        <th>Nama Belakang</th>
        <th>Tanggal Masuk</th>
        <th>Aksi</th>
    </tr>
  </thead>

  <tbody>
    @foreach(var mhs in Students){
        <tr>
            <td>@mhs.studentID</td>
            <td>@mhs.firstName</td>
            <td>@mhs.lastName</td>
            <td>@mhs.enrollmentDate</td>
            <td>
              
              <a href="@($"detailmahasiswa/{mhs.studentID}")" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Detail">
                <span class="oi oi-eye" aria-hidden="true"> Detail</span>
              </a>

              <a href="/enrollment" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Enroll">
                <span class="oi oi-list" aria-hidden="true"> Enroll</span>
              </a>

               <a href="@($"editmahasiswa/{mhs.studentID}")" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                <span class="oi oi-cog" aria-hidden="true"> Edit</span>
              </a>

              <a href="@($"hapusmahasiswa/{mhs.studentID}")" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Hapus">
                <span class="oi oi-trash" aria-hidden="true"> Hapus</span>
              </a>
       
            </td>
        </tr>
    }
  </tbody>

</table>
@* Tabel Students *@